#section3 {
  color: white;
  background: url("../medias/bgsection3.jpg") center;
  height: 700px;
  border-top: 20px solid white;
}
.section3_title_description {
  display: flex;
  align-items: center;
}
