#section1 {
  background: rgb(251, 251, 253);
  padding-top: 50px;
}
.copyright {
  color: rgb(70, 87, 69);
  animation: mouss 4s forwards;
}
@keyframes mouss {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);

    opacity: 1;
  }
}
