.ul_container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  color: rgb(70, 70, 70);
  font-size: 0.8rem;
  line-height: 1.5rem;
}
.li_title {
  font-weight: bold;
  margin: 15px 0 8px 0;
}
#section8 ul {
  padding: 8px;
}
