header {
  background: rgb(49, 49, 50);
  display: flex;
  color: lightgray;
  align-items: center;
  height: 50px;
  position: fixed;
  width: 100%;
  opacity: 0.8;
}
nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
nav ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}
nav li {
  padding: 0 5px;
  font-size: 0.8rem;
}
nav li:hover {
  color: white;
  text-shadow: 0 0 10px white;
}
