#section6 .left_part img {
  width: 100%;
}
#section6 .left_part {
  background: rgb(251, 251, 253);
}
.section6_right_part {
  background: url("../medias/tvplus.jpg") center/cover;
  display: flex;
  justify-content: center;
  align-items: end;
}
.section6_right_part a {
  color: white;
  text-decoration: none;
  margin-bottom: 20px;
}
.section6_right_part a:hover {
  text-decoration: underline;
  text-shadow: 0 0 10px white;
}
